terraform {
  required_version = ">= 1.4.0"

  required_providers {
    google = {
      source  = "hashicorp/google"
      version = "~> 5.0"
    }
  }
}

# gcloud CLI 인증 사용하는 방식
provider "google" {
  project = var.project_id
  region  = var.region
  # credentials 파일 없이 gcloud CLI 인증 사용
}
